body{
	color: #4D5152;
}


/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	padding: 20px;
	max-width: 1200px;
}
.ba-box{
	padding: 20px;
	background: grey;
}
.ba-grid > [class*="ba-width-"] > img{
	display: block;

}